@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Raleway:ital,wght@1,300&family=Righteous&display=swap");
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    317deg,
    rgba(193, 219, 254, 1) 0%,
    rgba(199, 224, 255, 1) 100%
  );
  cursor: none;
  font-family: "Raleway", sans-serif;
}
.kr {
  font-family: "Noto Sans KR", sans-serif;
}
#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
  .cursor__circle {
    width: 64px;
    height: 64px;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    border: solid 1px #005803;
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  #cursor.arrow .cursor__circle {
    width: 128px;
    height: 128px;
    background-color: #ff151565;
    border-color: #41003c;
  }
}
.bg {
  height: 100vh;
  position: absolute;
}
.con {
  display: flex;
  flex-direction: column;
}
.icon_wrap {
  /* width: 65vw; */
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  left: 10%;
}

.icon_wrap img {
  width: 80px;
  margin-bottom: 60px;
  filter: drop-shadow(4px 4px #fff6796b);
}

.inner_wrap {
  background: no-repeat center/100% url("../img/bg_2.jpg");
  height: 100vh;
  width: 65vw;
  justify-content: center;
  align-items: center;
  z-index: 5;
  display: none;
}
.inner_wrap .box {
  background: #fff;
  width: 30vw;
  height: 25vw;
  overflow-y: scroll;
  margin-top: 75px;
}

.box::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
.box::-webkit-scrollbar-thumb {
  background-color: #bedcf8;
  border-radius: 20px;
}
.box::-webkit-scrollbar-track {
  background-color: rgb(233, 233, 233);
  background-clip: padding-box;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
}
.inner_wrap .box_con {
  width: 100%;
  flex-wrap: wrap;
  display: none;
}
.inner_wrap .box_con .inner_box {
  width: 13vw;
  margin: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inner_wrap .box_con .img_box {
  width: 100%;
  height: 13vw;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0.5px 4px 2px #bedcf8;
}
.inner_wrap .box_con .img_box img {
  height: 100%;
}
.inner_wrap .box_con p {
  font-size: 18px;
  width: 100%;
  margin-bottom: 10px;
}

@media all and (max-width: 720px) {
  body {
    flex-direction: column;
    overflow-y: scroll;
  }
  .bg {
    position: inherit;
    height: auto;
    width: 100vw;
  }
  .icon_wrap {
    position: relative;
    flex-direction: column;
    left: 0;
  }
  .con {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
  }
  .icon_wrap img,
  .pumping {
    width: 60px;
    height: 60px !important;
  }
  .inner_wrap {
    position: absolute;
    top: 30vw;
    left: 0;
    background: no-repeat center/120% url(../img/bg_2.jpg);
    width: 100vw;
    height: 35vh;
  }
  .inner_wrap .box {
    width: 55vw;
    height: 45vw;
    margin-top: 35px;
  }
  .inner_wrap .box_con p {
    font-size: 14px;
  }
  .inner_wrap .box_con .inner_box {
    width: 24vw;
  }
  .inner_wrap .box_con .img_box {
    height: 24vw;
  }
}

/* --------- title ---------- */
h1 {
  font-family: "Righteous", cursive;
  position: absolute;
  top: 7vh;
  left: 0;
  z-index: 9;
  font-size: 8vh;
  width: 100%;
  text-align: center;
  background: linear-gradient(
    -45deg,
    #88c5ff 25%,
    #ff76c2 25%,
    #ff76c2 50%,
    #88c5ff 50%,
    #88c5ff 75%,
    #ff76c2 75%,
    #ff76c2
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 20px 20px;
  background-position: 0 0;
  animation: stripes 1s linear infinite;
}

@keyframes stripes {
  100% {
    background-position: 20px 0, 20px 0, 20px 0;
  }
}

h2 {
  font-family: "Righteous", cursive;
  position: absolute;
  top: 7vh;
  left: -6px;
  text-shadow: 1px 1px 1px #3a8ad4;
  z-index: 11;
  font-size: 8vh;
  width: 100%;
  text-align: center;
  color: #88c5ff;
}

/* ------------------ contant ------------------ */
.divider {
  width: 100%;
  height: 1px;
  background: #dcdcdc;
  margin-bottom: 10px;
  float: left;
}
.box_con:nth-child(1) p {
}
.box_con:nth-child(1) span {
  font-weight: 800;
}
.box_con:nth-child(1) span.kr {
  font-weight: 100;
}
.box_con:nth-child(3) .img_box {
  height: auto;
}
.box_con:nth-child(3) .img_box img {
  width: 100%;
}

/* -------------- heart animation ---------------- */
.pumping {
  position: relative;
  height: 80px;
  margin-bottom: 60px;
}

.pumping img {
  content: attr(data-text);
  position: absolute;
  user-select: none;
  transition: transform 100ms ease-in;
}

.pumping:active img {
  transform: scale(0.9);
}

.shape {
  --size: 8px;
  position: absolute;
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  width: calc(var(--size) * 2);
  height: calc(var(--size) * 2);
  animation: popup var(--d) cubic-bezier(0.2, 0.01, 0.1, 0.1) forwards;
}

.square {
  border-radius: 4px;
  background-color: var(--c);
}

.circle {
  border-radius: 50%;
  background-color: var(--c);
}
a .triangle {
  width: 0px;
  height: 0px;
  background-color: none;
  border-top: var(--size) solid transparent;
  border-bottom: calc(var(--size) * 2) solid var(--c);
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
}

.heart {
  --size: 6px;
  background-color: var(--c);
}
.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--c);
  border-radius: 50%;
}
.heart::before {
  left: -50%;
}
.heart::after {
  top: -50%;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(var(--x), var(--y)) rotate(var(--r));
  }
}

/* ---------------- bee ------------------ */
.bee {
  z-index: 999;
  position: absolute;
  top: 3vh;
  right: 16vw;
  display: none;
}
.bee.active {
  display: block;
}
